.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  background-color: black;
  color: white;
  position: fixed;
  width: 1280px;
}
.logo {
  margin: 18px 0 14px 18px;
}

.main {
  display: flex;
  padding-top: 59px;
  background-color: white;
  max-height: 600px;
}

.sidebar {
  min-width: 290px;
  border-right: 1px solid #e0e0e0;
}

.content {
  background-color: white;
  width: 990px;
  padding: 21px 21px 21px 26px;
}
